<div class="sections">
  <div class="welcome">
    <h1>{{ heading }}</h1>
    <p>You will learn</p>
    <ul>
      <li>What is Standalone component?</li>
      <li>Use Cases of Standalone component</li>
      <li>How to create a Moduleless Application in Angular</li>
      <li>Use Standalone components with modules</li>
      <li>LazyLoad Standalone component</li>
      <li>HTTP calls in Stand alone components</li>
      <li>ProviderClient and it's API</li>
      <li>Interceptors in Standalone API</li>
      <li>etc. etc.</li>
    </ul>
    <button>Let's Begin</button>
  </div>
  <img src="https://i.ytimg.com/vi/JRxa4otQbwQ/maxresdefault.jpg" />
  <!-- <app-register></app-register> -->
</div>

<div>
  <app-about></app-about>
</div>
