/* You can add global styles to this file, and also import other style files */
body,
html {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: #000000de;
  background: #fff;
  box-sizing: border-box;
}

.bg-blk-500 {
  background: black;
  font-weight: 500;
}

.rounded-lg {
  border-radius: 8px;
}

.font-medium {
  font-size: 16px;
}

.text-white {
  color: #fff;
}

.p-3 {
  padding: 16px 24px;
}

.no-border {
  border: none;
}

.mt-2 {
  margin-top: 2rem;
}
